@mixin display-flex {
    display: flex;
    align-items: center;
  }

  @mixin button {
    background-color: $color-yellow;
    @include display-flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 13px 35px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-light;
    transition: background-color .5s;

    &:hover {
      background-color: $color-yellow-dark;
    }

    @media (max-width: 576px) {
      padding: 11px 25px;
      font-size: 0.8rem; 
  }

}