.header {
    height: 100vh;
    position: relative;
    margin-bottom: 0.1rem;

    &_hero-img{
        & img {
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            object-fit: cover;
        }
    }

    &_nav {
        @include display-flex;
        justify-content: space-between;
        height: 81px;
        width: 80vw;
        border-bottom: 0.5px solid $color-light;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 10;
        font-size: 0.8rem;
        font-weight: 400;

        & a {
            &:hover {
                opacity: 0.8;
            }
        }

        &_left {
            @include display-flex;
            justify-content: space-between;
            gap: 3.5rem;
        }

        &_right {
            @include display-flex;
            justify-content: space-between;
            gap: 3.5rem;
        }

        &_socials {
            @include display-flex;
            gap: 0.6rem;

            & a {
                text-decoration: none;
                color: $color-light;
                font-size: 16px;
            }
        }

        &_menu_left {
            display: flex;
            gap: 2rem;
            & a {
                text-transform: uppercase;
                text-decoration: none;
                color: $color-light;
            }
        }

        &_menu_right {
            display: flex;
            gap: 2rem;
            & a {
                text-transform: uppercase;
                text-decoration: none;
                color: $color-light;
            }
        }

        &_button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 11px 30px;
            border: 1px solid $color-light;
            border-radius: 25px;

            & a {
                text-transform: uppercase;
                text-decoration: none;
                color: $color-light;

                & span {
                    padding-right: 0.7rem;
                }
            }
        }

        &_toggle_button {
            display: none;
            cursor: pointer;
            font-size: 1.3rem;
        }

        &_dropdown_menu {
            @include display-flex;
            flex-direction: column;
            position: absolute;
            right: 1rem;
            top: 60px;
            height: 0;
            width: 300px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            overflow: hidden;
            transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &-active {
                padding: 15px 0;
                height: 260px;
                border-radius: 10px;
            }

            & a {
                padding: 0.7rem;
                text-decoration: none;
                color: $color-light;
                font-weight: 600;
                text-transform: uppercase;
            }
            
            &_button {
                @include display-flex;
                justify-content: center;
                width: 100%;
                padding: 9px 30px;
                border: 1px solid $color-light;
                border-radius: 20px;
    
                    & span {
                        padding-right: 0.3rem;
                    }
            }
        }
    }

    &_image {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
    }


    &_carousel_container {
        height: 100vh;
        width: 100%;
        position: relative;
        margin: auto;
        overflow: hidden;
    }

    &_carousel {
        height: 100vh;
        width: 100%;
        position: relative;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);

        &_active {
            display: inline-block;
            animation: slide-in 0.5s forwards;
            -webkit-animation: slide-in 0.5s forwards;
        }
    
        &_inactive {
            display: none;
        }

        &_content {
            @include display-flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        &_title {
            color: $color-light;
            font-size: 0.8rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        &_description {
            color: $color-light;
            font-size: 2rem;
            font-weight: bold;
            text-transform: capitalize;
            margin-bottom: 1rem;
            max-width: 560px;
        }

        &_button {
            @include button;
        }

        &_dots {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 200;
        }

        &_dot {
            cursor: pointer;
            height: 0.2rem;
            width: 3rem;
            margin: 0px 3px;
            background-color: $color-light;
            display: inline-block;
        }

        &_active-dot {
            background-color: $color-yellow;
        }
    }
}