@media (max-width: 992px) {
    .header {  
        &_nav {
            &_menu_left {
                display: none;
            }
            &_right {
                display: none;
            }

            &_toggle_button {
                display: block;
            }
        }
    }

    .about {
        flex-direction: column;
        justify-content: space-between;
        height: 750px;

        &_image {
            width: 100%;
            height: 380px;
            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &_content {
            width: 100%;
            height: 400px;
            padding: 0 4rem 0 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            padding: 0 2rem 0 2rem;

            &_heading {
                font-size: 0.7rem;
            }
    
            &_subheading {
                font-size: 1.5rem;
            }
    
            &_description {
                font-size: 0.8rem;
            }
        }
    }
        
}

@media (max-width: 576px) {
    .header {  
        &_nav {
            &_dropdown_menu {
                left: 1rem;
                width: unset;
            }
        }

        &_carousel {
            &_description {
                font-size: 1.2rem;
            }
        }
    }
        
}

@media (min-width: 992px) {
    .header {  
        &_nav {
            &_dropdown_menu {
                display: none;
            }
        }
    }
       
}